/*#############################################################
Name: Blackbox
Date: 2006-06-01
Description: A mystic dark lightweight design.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
$Id: default.css 4 2008-06-30 02:32:36Z ek $
#############################################################*/

/* standard elements */
* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    background: #000 url(/static/bg.png) repeat-x fixed left bottom;
    color: #999;
    font: normal 0.8em sans-serif,Arial;
    margin: 20px 0;
    text-align: center;
}
ul {
    margin: 12px 0;
}

li {
    list-style: url(/static/li.gif);
    margin-left: 18px;
}

li:hover {
    background: #222;
}

input {
    border: 1px solid  #666;
    background: #444;
    font-weight: bold;
    color: #aaa;
}

code {
    background: url(/static/bgcode.gif);
    color: #888;
    display: block;
    font: normal 1em "Lucida Sans Unicode",serif;
    margin-bottom: 12px;
    padding: 3px 6px;
    white-space: pre;
}

cite {
    background: url(/static/quote.gif) no-repeat;
    color: #aaa;
    display: block;
    font: normal 1.1em "Lucida Sans Unicode",serif;
    margin-bottom: 12px;
    padding-left: 28px;
}


/* main structure */
.main {
    background: #000; 
    border: 3px double #EEE; 
    border-color: #141414 #202020 #222 #202020; 
    margin: 20px auto 4px auto; 
    text-align: left;
    width: 600px; 
}


/* header */
.gfx {
    background: #222 url(/static/dark_pixel.jpg) no-repeat;
    height: 240px;
}
.gfx h1 {
    color: #aaa;
    font: normal 2.6em Tahoma,sans-serif;
    padding: 16px 20px;
}


/* menu */
.menu a {
    background: #000 url(/static/bgmenu.png) repeat-x;
    border-right: 1px solid #222;
    border-top: 1px solid #1A1A1A;
    color: #aaa;
    float: left;
    font-size: 1.2em;
    padding-top: 4px;
    width: 149px; height: 36px;
}
.menu a span {
    padding-left: 6px;
}
.menu a:hover {
    background-position: left bottom;
    color: #666;
}
.menu a#last {
    border-right: none;
    width: 150px;
}


/* content */
.content {
    background: #1A1A1A;
    border-top: 1px solid #1A1A1A;
    clear: both;
}
.content h1 {
    color: #aaa;
    font: bold 1.1em sans-serif,Arial;
    margin: 0 0 4px;
}
.content p {
    margin: 0 0 12px;
}
.item {
    background: #030303 url(/static/bgitem.gif) repeat-x;
    padding: 8px 10px;
}


/* footer */
.footer {
    background: #0A0A0A;
    color: #666;
    padding: 5px;
} 
.footer .left, .footer .right {padding: 0 12px;}

/* floats */
.left {float: left;}
.right {float: right;}
.clearer {clear: both;}