<configuration>
  <dllmap os="osx" dll="fmodex-dotnet.dll" target="libfmodex-4.44.08.dylib" />
  <dllmap os="!windows,osx" cpu="x86-64,ia64" dll="fmodex-dotnet.dll" target="libfmodex64-4.44.08.so" />
  <dllmap os="!windows,osx" cpu="x86" dll="fmodex-dotnet.dll" target="libfmodex-4.44.08.so" />
</configuration>