<?xml version="1.0" encoding="iso-8859-1" ?>
<!-- $Id$ -->
<configuration>
  <dllmap dll="fmodex">
    <dllentry os="!windows,osx" cpu="x86" dll="libfmodex-4.44.08" />
    <dllentry os="!windows,osx" cpu="x86-64,ia64" dll="libfmodex64-4.44.08" />
    <dllentry os="osx" dll="libfmodex-4.44.08.dylib" />
  </dllmap>
</configuration>
