<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.4.5947.17249" targetFramework="net45" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="LibreMetaverse" version="1.0.6.45" targetFramework="net45" />
  <package id="LibreMetaverse.Rendering.Meshmerizer" version="1.0.6.45" targetFramework="net45" />
  <package id="LibreMetaverse.StructuredData" version="1.0.6.45" targetFramework="net45" />
  <package id="LibreMetaverse.Types" version="1.0.6.45" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="OpenTK" version="3.0.0-pre" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="3.0.0-pre" targetFramework="net45" />
  <package id="protobuf-net" version="2.2.1" targetFramework="net45" />
  <package id="XmlRpcCS" version="2.0.1.8" targetFramework="net45" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net45" />
</packages>