<?xml version="1.0" encoding="utf-8" ?>
<!-- $Id$ -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<appSettings>
	</appSettings>
	<log4net>
		<appender name="RadegastLog" type="Radegast.RadegastAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{HH:mm:ss} [%level] - %message" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RadegastLog" />
		</root>
	</log4net>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="256" />
    </connectionManagement>
  </system.net>
</configuration>
