<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="description" content="description"/>
<meta name="keywords" content="Second Life LSL url http-in"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/static/default.css"/>
<title>Grid URL Persister</title>
</head>

<body>

<div class="main">

    <div class="gfx"><h1>Grid URL Persister</h1></div>

    <div class="menu">
        <a href="/">Start</a>
        <a href="/random">Random UUID</a>
        <a href="/about">About</a>

    </div>

    <div class="content">

    {% block content %}{% endblock %}

    </div>

    <div class="footer">
    
        <span class="left">&copy; 2009 <a href="#">Latif Khalifa</a></span>
        
        <!--span class="right">Powered by <a href="http://openmetaverse.org/">LIBOPENMV</a></span-->

        <div class="clearer"><span></span></div>

    </div>

</div>

</body>

</html>