<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <?include BuildProperties.wxi?>
    <?define productVersion="!(bind.packageVersion.RadegastSetup)"?>

    <Bundle Name="$(var.productName) $(var.productVersion)" Version="$(var.productVersion)" 
            Manufacturer="$(var.companyName)" UpgradeCode="cccc26b5-aa17-47d8-8d5d-707a78ec9a10">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication LicenseFile="assets\license.rtf" ShowVersion="yes" />
        </BootstrapperApplicationRef>
        <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles6432Folder]$(var.productName)" Persisted="yes" />
        <Chain>
            <PackageGroupRef Id="DotNetRuntime31Web"/>
			<PackageGroupRef Id="WindowsDesktopRuntime31Web"/>
            <MsiPackage Id="RadegastSetup" SourceFile="$(var.RadegastSetup.TargetPath)" Vital="yes">
                <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]" />
            </MsiPackage>
		</Chain>
	</Bundle>
</Wix>
