<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibreMetaverse" version="1.2.5.188" targetFramework="net462" />
  <package id="LibreMetaverse.StructuredData" version="1.2.5.188" targetFramework="net462" />
  <package id="LibreMetaverse.Types" version="1.2.5.188" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="protobuf-net" version="2.3.5" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="XmlRpcCs" version="2.1.1.2" targetFramework="net462" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net45" />
  <package id="zlib.net-mutliplatform" version="1.0.4" targetFramework="net462" />
</packages>